.chat-container{
  height: 500px;
  max-width: 800px;
}
.chat-left-side{
  border-right: 1px solid lightgray;
  height: 100%;
}
.user-image{
  width: 40px;
  height: 40px;
}
.user-image-message{
  width: 30px;
  height: 30px;
}
.active-chat{
  background: #10cea0;
  color: #fff;
  border-radius: 4px 20px 4px 20px;
}
.message-container{
  max-width: 250px;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid lightgray;
  display: flex;
}
.conversation{
  max-height: 300px;
  overflow-y: auto;
}
.bg-receiver{
  background: #f3f3f3;
}
.bg-sender{
  background: #a3f6a3;
}